.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 41px;

  @media (min-width: $mobile-width) and (max-width: $tablet-maxwidth) {
    padding: 0;
    text-align: center;
    align-items: center;
   }
}

.contact__text {
  margin: 0;
  font-weight: 500;
font-size: 22px;
line-height: 34px;

@media (min-width: $tablet-width) and (max-width: $tablet-maxwidth) {
  padding-bottom: 10px;
 }

 @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
  font-size: 18px;
  line-height: 34px;
  padding-bottom: 10px;
}
}

.contact__phone {
  position: relative;
}

.contact__icon {
  position: absolute;
  left: -40px;
}

.contact__phone-link {
  font-size: 20px;
  line-height: 32px;
    text-decoration: none;
color: #000000;

@media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
  line-height: 32px;
  color: #fe7865;
}
}
