.desc {
  width: 1920px;
  height: 860px;
  padding-bottom: 195px;
  background-image: url("../img/bg-desktop@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-desktop@2x.jpg");
    background-size: 3840px 1720px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-maxwidth) {
    width: 100%;
    height: 344px;
    padding-bottom: 80px;
    background-image: url("../img/bg-tablet@1x.jpg");

   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-tablet@2x.jpg");
      background-size: 1536px;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
    width: 100%;
    height: 235px;
    padding-bottom: 165px;
    margin-bottom: 108px;
    background-image: url("../img/bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-mobile@2x.jpg");
      background-size: 640px;
    }
  }
}

.desc__wrapper {
  padding: 185px 433px 0 1075px;
  color: #FFFFFF;

  @media (min-width: $tablet-width) and (max-width: $tablet-maxwidth) {
    padding: 60px 185px 83px;
    text-align: center;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
    padding: 0;
    padding-top: 81px;
    padding-right: 10px;
    padding-left: 16px;
    text-align: center;
  }
}

.desc__title {
  margin: 0;
  padding-bottom: 30px;
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;

  @media (min-width: $tablet-width) and (max-width: $tablet-maxwidth) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
    padding-bottom: 102px;
    font-size: 24px;
    line-height: 36px;
  }
}

.desc__text {
  margin: 0;
  padding-bottom: 39px;
  padding-right: 18px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.466667px;


  @media (min-width: $tablet-width) and (max-width: $tablet-maxwidth) {
    padding-bottom: 15px;
    padding-right: 0;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
    padding-bottom: 20px;
    padding-right: 0;
    color: #2C2E3F;
  }
}

.desc__btn {
  position: relative;
  box-sizing: border-box;
  width: 340px;
  background-color: #fe7865;

  @media (min-width: $tablet-width) and (max-width: $tablet-maxwidth) {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}

.desc__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  @media (min-width: $tablet-width) and (max-width: $tablet-maxwidth)  {
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: left;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: left;
  }
}

.desc__icon {
  position: absolute;
  top: 30px;
  right: 31px;

  @media (min-width: $tablet-width) and (max-width: $tablet-maxwidth)  {
    top: 20px;
    right: 40px;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
    top: 20px;
    right: 40px;
  }
}
