.main-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 31px;
  padding-left: 375px;
  padding-right: 386px;
}
