.main-menu {
  display: flex;
  padding: 0;
  padding-right: 53px;
  list-style: none;

  @media (min-width: $mobile-width) and (max-width: $tablet-maxwidth) {
   position: absolute;
   right: 55px;
    &--close {
    display: none;
  }
    &--open {
      display: block;
    }
  }
}



.main-menu__link {
  padding-left: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
}
