.main-header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 31px;
  padding-left: 375px;
  padding-right: 386px;

  @media (min-width: $tablet-width) and (max-width: $tablet-maxwidth) {
    position: relative;
    padding-left: 16px;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-right: 260px;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
    position: relative;
    padding-left: 21px;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-right: 210px;
  }
}

.main-header__logo {
  position: absolute;
  top: 39%;
  left: 376px;
}

.main-header__logo-img {
  @media (min-width: $mobile-width) and (max-width: $tablet-maxwidth) {
    width: 44px;
    height: 17px;
  }
}
