.offer {
  width: 33.3%;
  padding-left: 49px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) and (max-width: $tablet-maxwidth) {
    width: 100%;
    text-align: center;
   }

   @media (min-width: $mobile-width) and (max-width: $mobile-maxwidth) {
    padding: 0;
    width: 100%;

    text-align: center;

  }
}

.offer__title {
  margin: 0;
  font-weight: 600;
font-size: 18px;
line-height: 32px;
color: #141517;
padding-bottom: 20px;
}

.offer__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-right: 14px;
}
